<div class="content" id="main">
      <div class="imgcontainer">
        <img src="/images/wedevz-logo.png" alt="Avatar" class="avatar" />
      </div>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">E-Mail</label>
    <input class="form-input" type="text" id="email-login" required />
  </div>
  <div class="form-group">
    <label for="password-login">Password</label>
    <input class="form-input" type="password" id="password-login" required />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" id="login-button" type="submit">Login</button>
  </div>

</form>

<h2>Sign Up</h2>

<form class="form signup-form">
    <div class="form-group">
    <label for="first_name-signup">First Name</label>
    <input class="form-input" type="text" id="first_name-signup" />
  </div>
    <div class="form-group">
    <label for="last_name-signup">Last Name</label>
    <input class="form-input" type="text" id="last_name-signup" />
  </div>
    <div class="form-group">
    <label for="age-signup">Age</label>
    <input class="form-input" type="number" id="age-signup" />
  </div>
    <div class="form-group">
    <label for="location-signup">Location</label>
    <input class="form-input" type="text" id="location-signup" />
  </div>
    <div class="form-group">
    <label for="user_pic-signup">Profile Picture</label>
    <input class="form-input" type="file" accept="image/*" id="user_pic-signup" />
  </div>
    <div class="form-group">
    <label for="user_technology-signup">Technologies</label>
    <input class="form-input" type="text" id="user_technology-signup" />
  </div>
    <div class="form-group">
    <label for="education-signup">Education</label>
    <input class="form-input" type="text" id="education-signup" />
  </div>
    <div class="form-group">
    <label for="employer-signup">Current Employer</label>
    <input class="form-input" type="text" id="employer-signup" />
  </div>
    <div class="form-group">
    <label for="github-signup">GitHub URL</label>
    <input class="form-input" type="text" id="github-signup" />
  </div>
  <div class="form-group">
    <label for="email-signup">E-Mail</label>
    <input class="form-input" type="text" id="email-signup" required />
  </div>
  <div class="form-group">
    <label for="password-signup">Password</label>
    <input class="form-input" type="password" id="password-signup" required />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</form>
<footer class="footer">
    <span class="text-muted">© 2023 WeDevz</span>
</footer>


<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>