/* LOGIN PAGE STYLING */

.w3-container {
    margin-top: 5px;
}
.page-break {
    height:90px;
    display:inline-block;
}
body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.center_block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #68447a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 35%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  color: rgb(0, 0, 0);
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
} 

/* @media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

/* EXPLORE PAGE STYLING */

.media-scroller {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 31%;

  padding: 1rem 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

/* .project-scroll {

} */

.media-scroller--with-groups {
  grid-auto-columns: 90%;
}

.media-group {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  height: auto;
}
.profile-bottom-card {
  height: 50%;
  border-radius: 20px;
  background-color: white;
  grid-template-rows: min-content;
  padding: 1rem;
  color:#34223c;
}
.profile-card {
  padding: 1rem;
  background: lightgray;
  border-radius: 2px;
  gap: 0.5rem;
  grid-template-rows: min-content;
}

.profile-card > img {
  inline-size: 100%;
  aspect-ratio: 16 / 16;
  object-fit: cover;
  height: 50%;
  place-items: center;
}
.profile-project-bcard {
  padding: 1rem;
  /* background: lightgray; */
  border-radius: 2px;
  gap: 0.5rem;
  grid-template-rows: min-content;
  height: 35%;
}

.profile-project-bcard > img {
  inline-size: 30%;
  aspect-ratio: 16 / 16;
  object-fit: cover;
  margin-bottom: 10px;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

h10 {
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 50px;
  padding: 0;
  justify-content: center;
}

.upper-card {
  height: 37%;
  border-radius: 20px;
}

.tech-card {
  height: 27%;
  border-radius: 20px;
}

.w3-container {
  margin-top: 5px;
}
.page-break {
  height: 90px;
  display: inline-block;
}

/* PROFILE PAGE STYLING */

.w3-row-padding img {
  margin-bottom: 12px;
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #533661;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}


* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.pcard {
  float: left;
  
  padding: 10px ;
}

.card {
  border-radius: 20px;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.w3-theme {color:#fff !important; background-color:#68447a !important}
.w3-theme-d5 {color:#fff !important; background-color:#34223c !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#34223c !important}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

ul {
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
}
